@{
    ViewData["Title"] = "About";
}


<h2>Hello from the About Page!!!</h2>

<p> asd asd asd qwe qwe qe qwe qwe weq</p>

<ul>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
    <li>Stuff 1</li>
</ul>